Sync Outlook.json
{
  "name": "Sync Outlook",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "72868a40-a9ea-4d3e-92e6-5211711cc539"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6be0da3a-0903-4909-96a8-486286d55ff9",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "697f0fb6-a16b-4e17-a297-1a7d1cd7ad49",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        0
      ],
      "id": "aaece6b2-1f3d-4830-8d99-b3249776937c",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "  return [{\n    json: {\n      subject: $json.body.data.title || $json.body.data.objective,\n      start: { dateTime: $json.body.data.start_date },\n      end: { dateTime: $json.body.data.end_date || $json.body.data.due_date },\n      body: { content: $json.body.data.note || $json.body.data.description },\n      taskId: $json.body.data.id.replace(/['\"]/g, '') \n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -176
      ],
      "id": "a762887d-1cc2-485e-aa28-05f9f3ba5c84",
      "name": "Code - Create"
    },
    {
      "parameters": {
        "jsCode": "return [{\n    json: {\n      eventId: $json.body.data.outlook_event_id,\n      subject: $json.body.data.title || $json.body.data.objective,\n      start: { dateTime: $json.body.data.start_date },\n      end: { dateTime: $json.body.data.end_date || $json.body.data.due_date },\n      body: { content: $json.body.data.note || $json.body.data.description }\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        16
      ],
      "id": "e015f22a-82b1-48f0-838f-05e6977e2a8c",
      "name": "Code - Update"
    },
    {
      "parameters": {
        "jsCode": "return [{\n    json: {\n      eventId: $json.body.data.outlook_event_id\n    }\n  }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        208
      ],
      "id": "07e34cd5-7760-4175-9040-0f6abe285dff",
      "name": "Code - Delete"
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "value": "AQMkADAwATZiZmYAZC1lZQBiYgAtYjMyNS0wMAItMDAKAEYAAAPwm4bmebtYR56qQdW69aEdBwDcFpCVmZQrR5RS2J9cvhbmAAACAQYAAADcFpCVmZQrR5RS2J9cvhbmAAACNDYAAAA=",
          "mode": "list",
          "cachedResultName": "日历"
        },
        "subject": "={{ $json.subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        160,
        -176
      ],
      "id": "c8f09b79-1bee-4aa1-9f24-dbc1b4186d3a",
      "name": "Create an event",
      "webhookId": "5926ff87-af6f-47dd-965d-d6e017c2ecb7",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ZMHKMGER00QEpdD5",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "update",
        "calendarId": {
          "__rl": true,
          "value": "AQMkADAwATZiZmYAZC1lZQBiYgAtYjMyNS0wMAItMDAKAEYAAAPwm4bmebtYR56qQdW69aEdBwDcFpCVmZQrR5RS2J9cvhbmAAACAQYAAADcFpCVmZQrR5RS2J9cvhbmAAACNDYAAAA=",
          "mode": "list",
          "cachedResultName": "日历"
        },
        "eventId": {
          "__rl": true,
          "value": "={{ $json.eventId }}",
          "mode": "id"
        },
        "additionalFields": {
          "body": "={{ $json.body.content }}",
          "end": "={{ $json.end.dateTime }}",
          "start": "={{ $json.start.dateTime }}",
          "subject": "={{ $json.subject }}"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        160,
        16
      ],
      "id": "b81383bd-50b4-42ec-b009-a627f5055b0c",
      "name": "Update an event",
      "webhookId": "c7fb56b6-08e1-4618-9c67-4aa22f32a0e6",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ZMHKMGER00QEpdD5",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "delete",
        "calendarId": {
          "__rl": true,
          "value": "AQMkADAwATZiZmYAZC1lZQBiYgAtYjMyNS0wMAItMDAKAEYAAAPwm4bmebtYR56qQdW69aEdBwDcFpCVmZQrR5RS2J9cvhbmAAACAQYAAADcFp   CVmZQrR5RS2J9cvhbmAAACNDYAAAA=",
          "mode": "id"
        },
        "eventId": {
          "__rl": true,
          "value": "={{ $json.eventId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        160,
        208
      ],
      "id": "c7e80d20-5e24-4981-8d85-059e67e1de82",
      "name": "Delete an event",
      "webhookId": "61ca8ead-c9da-4e0d-95fa-9441c0214ee7",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ZMHKMGER00QEpdD5",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Sync Task",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        16
      ],
      "id": "80fa0856-5b04-43d6-a191-9f016f52eda2",
      "name": "Sync Task Webhook",
      "webhookId": "edbab14e-f802-4576-a753-314f8751969f"
    },
    {
      "parameters": {
        "jsCode": "  console.log('Received data:', JSON.stringify($json, null, 2));\n  return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        368
      ],
      "id": "21e9c383-190f-4243-852c-a92a4e9b4264",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/tasks/update-outlook-id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  {\n    \"taskId\": \"{{ $('Code - Create').first().json.taskId }}\",\n    \"outlook_event_id\": \"{{ $json.id }}\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        -176
      ],
      "id": "3d300652-6c76-4ec1-88d9-6c713663460f",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "Sync Task Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "228"
          },
          "params": {},
          "query": {},
          "body": {
            "action": "create",
            "data": {
              "id": "2538ebc7-8334-81a8-aa7a-dbfb10c7c924",
              "title": "Test 11",
              "start_date": "2025-08-19T00:00:00Z",
              "end_date": "2025-08-19T01:00:00Z",
              "note": "Real task with callback"
            }
          },
          "webhookUrl": "http://localhost:5678/webhook/Sync Task",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Code - Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Create": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Update": {
      "main": [
        [
          {
            "node": "Update an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Delete": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Task Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a065530f-ba7a-4b2a-80ea-9c27245b86f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c844779e57f062ed2d65cae41537d8794946978b58b8ba423f134ec33dbef0d"
  },
  "id": "RHnDmxPHytADYi3V",
  "tags": []
}