AI Agent/AI Agent - JD2CV 2.0.json
{
  "name": "AI Agent - JD2CV 2.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=cf88dabc-821e-4ce5-b78a-d2699bfa1851",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        224
      ],
      "id": "ccf72863-a6d1-4260-b619-4ef42291efbd",
      "name": "Webhook",
      "webhookId": "cf88dabc-821e-4ce5-b78a-d2699bfa1851"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=JD Title & Key Words: {{ $json.text }}\n\nAfter identifying the best Generator (sub-agent), dispatch {{ $json.text }} into that sub-agent.  \n\nOutput must be strictly in the following JSON object format (exactly one object, not an array, not a string):\n\n{\n  \"output\": \"Customized experience text here\"\n}\n\nRules:\n1. Your only role is to route the input to the correct sub-agent and return its output. Do not rewrite or invent any resume content yourself.  \n2. Preserve exactly the Company, Title, and Time period from the sub-agent’s response. Never generate new roles or experiences.  \n3. Keep the same number of bullet points as in the sub-agent’s response. Do not merge, split, or add bullets.  \n4. Place the sub-agent’s output inside the \"output\" field of the JSON object, without modification.  \n5. Do not include explanations, commentary, or any extra text outside of the JSON object.  ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        656,
        224
      ],
      "id": "6438975e-bba9-4269-8912-26421114948a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=Title: {{ $json.body.title }}\nJD: {{ $json.body.full_job_description }}\n\nExtract 10 concise and impactful key phrases that best represent the JD’s hiring intent, focusing on role responsibilities, domain-specific skills, tools/technologies, and measurable business outcomes.  \nExclude generic or vague terms (e.g., \"team\", \"responsible\", \"communication\", \"dynamic environment\") and ensure the 10 selected keywords can directly guide resume customization and experience tailoring.  \n\nOutput strictly as two separate fields in JSON format:\n\n{\n  \"Title\": \"{{ $json.title }}\",\n  \"Keywords\": [\"keyword1\", \"keyword2\", \"keyword3\", ... , \"keyword10\"]\n}\n\nDo not include any explanations, introductions, or extra text.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        336,
        224
      ],
      "id": "6e1ceec6-0223-4778-9918-8498d060c80f",
      "name": "Key Words Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2336,
        896
      ],
      "id": "a4b1d051-c8cd-4276-98da-c482e576e11d",
      "name": "DeepSeek Chat Model6",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1232,
        224
      ],
      "id": "e4b25a33-4cc9-4fc8-9b34-b394f0071518",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "toolDescription": "仅负责接收Business Development (BD)及相似的Title 和 Key Words的数据，并生成定制化的Experiences",
        "text": "=You are a senior resume experience writing expert. \nYour task is to customize my existing work experiences so they align with the target Job Description keywords.\n\n{{ $json.text }}is extracted key words from the Job Description.\n下面是我现在的工作经验：\nMy original work experiences, each with Company, Title, Time period and Bullet points:\nStanleyHi | Founder & Full-Stack Developer | 2024 – Present\n\nLaunched and commercialized 4 self-built platforms (IELTS Engine, JD2CV, Readlingua, Strategy–Plan–Task), demonstrating entrepreneurial ability to identify opportunities and convert them into products with adoption potential.\n\nEngaged early users across education and AI markets, gathering feedback to validate product–market fit and strengthen go-to-market positioning.\n\nBuilt partnerships with API providers (Gemini, DeepSeek, Hugging Face) to enhance product capability and expand solution competitiveness.\n\nShowcased strong business development mindset: translating technical capabilities into market-ready solutions that attract users and open commercial opportunities.\n\nSavvy Pro | Academic Tutor – STEM | 2023 – 2025\n\nGenerated repeat business by delivering measurable results—100% pass rate and 25%+ score improvements for 10+ students globally.\n\nExpanded client base across Italy, UK, and Australia through word-of-mouth referrals, demonstrating ability to build trust and grow accounts.\n\nDesigned customized learning modules as value-added services, increasing retention and long-term engagement.\n\nNCS | Financial Services Industry Lead | 2021 – 2022\n\nDrove $5M+ in pipeline and closed $2M+ solution contracts by leading GTM strategy across China and Singapore.\n\nBuilt strategic partnerships with ecosystem vendors to strengthen fintech solution offerings and accelerate deal closure.\n\nSecured executive sponsorship by presenting localized FS strategy to C-levels, contributing to 30% YoY vertical growth.\n\nExpanded footprint in new markets by designing and packaging 3 fintech solutions that addressed regulatory and integration requirements.\n\nIceKredit | General Manager – Financial Services Industry | 2017 – 2020\n\nClosed 20+ enterprise deals with Tier-1 banks and finance firms, including $1M+ contracts for AI credit scoring platforms.\n\nExpanded recurring revenue streams by standardizing 5 commercial products, increasing scalability and customer adoption.\n\nForged 6+ partnerships with data vendors and compliance providers, broadening solution competitiveness and market reach.\n\nDelivered consistent YoY revenue growth by combining new client acquisition with expansion of existing accounts.\n\nHuawei | Technical Key Account Manager | 2016 – 2017\n\nSupported $10M+ deal value across one 8-figure and multiple 7-figure projects with Ping An Bank and CMB.\n\nSecured long-term client trust by designing 10+ solution proposals that addressed compliance and integration challenges.\n\nStrengthened pipeline growth by aligning with executive stakeholders, leading to faster approvals and additional project scope.\n\nExpanded influence within client organizations by positioning Huawei as a trusted strategic partner.\n\nDiebold Nixdorf | Solution Architect | 2011 – 2016\n\nDelivered 35+ self-service banking solutions, strengthening long-term client relationships and opening repeat business opportunities.\n\nReduced downtime by 18% across 1,200+ ATMs, directly improving client satisfaction and driving follow-on engagements.\n\nPartnered with 15+ enterprise clients to redesign outsourcing models, resulting in 25% efficiency gains and multi-year renewals.\n\nSupported regional business growth in China and SEA by localizing solution delivery to meet market-specific requirements.\n\nFuji Xerox | Solution Engineer – Banking | 2009 – 2011\n\nSupported account teams in achieving 110%+ YoY sales by customizing banking solutions for 12+ enterprise clients.\n\nDrove pipeline expansion by delivering 50+ training sessions and 10+ industry demos, accelerating sales cycles by ~20%.\n\nStrengthened BD impact by collaborating on 15+ presales opportunities, ensuring compliance-ready technical documentation.\n\nEnhanced visibility at industry events, building credibility that contributed to deal acceleration.\n\nStrict Instructions:\n1. **Preserve authenticity**:\n   - Do not invent or exaggerate facts, numbers, or industries not present in my working experience.\n   - Only rephrase or highlight existing details.\n\n2. **Keep structure stable**:\n   - Keep all original Company, Title, and Time period.\n   - Keep the same number of bullet points per experience.\n   - Rewrite each bullet, but do not merge or split.\n\n3. **Customization rule**:\n   - Use JD key words only as a **lens to rephrase** my bullets.\n   - If a bullet naturally connects with a keyword, emphasize it with JD-style language.\n   - If no natural connection, keep the bullet with only minimal polish.\n   - Do not add keywords that don’t logically fit.\n\n4. **Language style**:\n   - Concise, professional, measurable impact.\n   - Strong action verbs.\n   - No personality traits unless already in my text.\n\n5. **Output format**:\n   Company | Title | Time\n   - Bullet 1\n   - Bullet 2\n   (and so on)\n\n6. **Quality enhancement rules**:\n   - Each bullet should begin with a strong action verb and focus on **what I did + how I did it + impact/result**. \n   - Whenever possible, emphasize **measurable outcomes** (%, $, growth, efficiency, scale, adoption, satisfaction, or other concrete indicators).\n   - Prioritize achievements that demonstrate **positive impact** in areas such as business outcomes, client/stakeholder value, process or efficiency improvements, solution delivery, innovation, or collaboration — in line with  key words.\n   - Keep wording precise and avoid vague adjectives like \"great\", \"successful\", \"effective\".\n   - Ensure every bullet communicates **tangible value delivered to the organization, clients, team, or market**, not just tasks performed.\nDo not include any explanations, introductions, or extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1760,
        672
      ],
      "id": "6cf73f0d-dd2a-4ebf-a070-8707aa78e289",
      "name": "Business Development"
    },
    {
      "parameters": {
        "toolDescription": "仅负责接收Sales及相似的Title 和 Key Words的数据，并生成定制化的Experiences",
        "text": "You are a senior resume experience writing expert. \nYour task is to customize my existing work experiences so they align with the target Job Description keywords.\n\n{{ $json.text }}is extracted key words from the Job Description.\n下面是我现在的工作经验：\nMy original work experiences, each with Company, Title, Time period and Bullet points:\n\nStanleyHi | Founder & Full-Stack Developer | 2024 – Present\n\nBuilt and commercialized 4 SaaS-style platforms (IELTS Engine, JD2CV, Readlingua, Strategy–Plan–Task), demonstrating ability to identify opportunities and convert them into market-ready offerings.\n\nAcquired early adopters through product demos, feedback sessions, and word-of-mouth outreach, validating customer demand and accelerating adoption.\n\nNegotiated partnerships with API providers (Gemini, DeepSeek, Hugging Face), expanding product capability and sales value proposition.\n\nDemonstrated entrepreneurial sales acumen by aligning technical innovation with customer needs and potential revenue streams.\n\nSavvy Pro | Academic Tutor – STEM | 2023 – 2025\n\nGenerated repeat business by delivering measurable ROI—100% pass rate and 25%+ score improvements for 10+ international students.\n\nGrew client base across multiple countries (Italy, UK, Australia) through referrals and proactive outreach.\n\nDesigned and pitched customized learning modules as premium services, increasing upsell and long-term retention.\n\nNCS | Financial Services Industry Lead | 2021 – 2022\n\nDrove $5M+ pipeline and closed $2M+ in contracts by leading GTM and sales strategy across China and Singapore.\n\nCreated and pitched 3 fintech solutions that resonated with client pain points, shortening sales cycles by 25%.\n\nPartnered with ecosystem vendors to strengthen solution offering and accelerate revenue growth.\n\nBuilt executive relationships and secured sponsorship from C-level clients, contributing to 30% YoY FS vertical growth.\n\nIceKredit | General Manager – Financial Services Industry | 2017 – 2020\n\nClosed 20+ enterprise deals with Tier-1 banks and licensed finance firms, including $1M+ contracts for AI credit scoring solutions.\n\nExpanded recurring revenue streams by packaging 5 standardized products, increasing scalability and reducing sales cycle complexity.\n\nEstablished 6+ strategic partnerships with compliance and data vendors to enhance competitive positioning and open new revenue channels.\n\nConsistently achieved multi-million-dollar annual sales targets through new client acquisition and account expansion.\n\nHuawei | Technical Key Account Manager | 2016 – 2017\n\nSupported $10M+ total deal value across one 8-figure and multiple 7-figure enterprise banking projects.\n\nDesigned and presented 10+ tailored solution proposals to C-level stakeholders, directly influencing purchase decisions.\n\nPartnered with internal product and delivery teams to accelerate procurement timelines by 30%, enabling faster deal closure.\n\nStrengthened long-term account trust, leading to repeat sales opportunities.\n\nDiebold Nixdorf | Solution Architect | 2011 – 2016\n\nDelivered 35+ end-to-end solutions to 15+ regional banks, creating multi-year renewal and upsell opportunities.\n\nHelped clients achieve operational efficiency gains (25%) and downtime reduction (18%), contributing to high retention and follow-on sales.\n\nActed as sales–delivery bridge in 3 regional projects, demonstrating ability to convert technical expertise into revenue outcomes.\n\nExpanded business presence across China and SEA through localized solution delivery.\n\nFuji Xerox | Solution Engineer – Banking | 2009 – 2011\n\nContributed to consistent quota overachievement (110%+ YoY) by customizing solutions for 12+ enterprise banking clients.\n\nSupported presales efforts on 15+ opportunities, providing documentation and demos that accelerated deal closure cycles by ~20%.\n\nStrengthened brand visibility by conducting 50+ training sessions and 10+ industry demos, generating new client interest.\n\nCollaborated with account teams to expand wallet share among existing clients, ensuring sustained revenue growth.\n你生成一份定制化的工作经验。\n\nStrict Instructions:\n1. **Preserve authenticity**:\n   - Do not invent or exaggerate facts, numbers, or industries not present in my working experience.\n   - Only rephrase or highlight existing details.\n\n2. **Keep structure stable**:\n   - Keep all original Company, Title, and Time period.\n   - Keep the same number of bullet points per experience.\n   - Rewrite each bullet, but do not merge or split.\n\n3. **Customization rule**:\n   - Use JD key words only as a **lens to rephrase** my bullets.\n   - If a bullet naturally connects with a keyword, emphasize it with JD-style language.\n   - If no natural connection, keep the bullet with only minimal polish.\n   - Do not add keywords that don’t logically fit.\n\n4. **Language style**:\n   - Concise, professional, measurable impact.\n   - Strong action verbs.\n   - No personality traits unless already in my text.\n\n5. **Output format**:\n   Company | Title | Time\n   - Bullet 1\n   - Bullet 2\n   (and so on)\nDo not include any explanations, introductions, or extra text.\n6. **Quality enhancement rules**:\n   - Each bullet should begin with a strong action verb and focus on **what I did + how I did it + impact/result**. \n   - Whenever possible, emphasize **measurable outcomes** (%, $, growth, efficiency, scale, adoption, satisfaction, or other concrete indicators).\n   - Prioritize achievements that demonstrate **positive impact** in areas such as business outcomes, client/stakeholder value, process or efficiency improvements, solution delivery, innovation, or collaboration — in line with  key words.\n   - Keep wording precise and avoid vague adjectives like \"great\", \"successful\", \"effective\".\n   - Ensure every bullet communicates **tangible value delivered to the organization, clients, team, or market**, not just tasks performed.\nDo not include any explanations, introductions, or extra text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2048,
        672
      ],
      "id": "ce0c5867-590d-4cfc-a05a-bb8896194f45",
      "name": "Sales"
    },
    {
      "parameters": {
        "toolDescription": "仅负责接收Technical Account Manager (TAM)及相似的Title 和 Key Words的数据，并生成定制化的Experiences",
        "text": "=You are a senior resume experience writing expert. \nYour task is to customize my existing work experiences so they align with the target Job Description keywords.\n\n{{ $json.text }}is extracted key words from the Job Description.\n下面是我现在的工作经验：\nMy original work experiences, each with Company, Title, Time period and Bullet points:\n\nStanleyHi | Founder & Full-Stack Developer | 2024 – Present\n\nActed as technical owner for 4 AI-driven platforms (IELTS Engine, JD2CV, Readlingua, Strategy–Plan–Task), guiding adoption and addressing user-reported issues with quick turnaround.\n\nDesigned full-stack architectures (Next.js, Supabase, Notion API, Vercel) and provided continuous technical support to ensure reliability and positive user experience.\n\nIntegrated APIs from Gemini, DeepSeek, and Hugging Face, demonstrating ability to support clients leveraging cutting-edge AI in production environments.\n\nFunctioned as a TAM-style liaison by gathering feedback, troubleshooting issues, and translating business requirements into technical improvements.\n\nSavvy Pro | Academic Tutor – STEM | 2023 – 2025\n\nServed as technical mentor and account manager for 10+ international students, tailoring computing lessons to individual requirements and providing hands-on support.\n\nAchieved measurable adoption success: 100% pass rates and 25%+ score improvements, aligning with client goals.\n\nHandled escalations by simplifying advanced data/ML concepts into actionable guidance, improving overall satisfaction and trust.\n\nNCS | Financial Services Industry Lead | 2021 – 2022\n\nActed as primary technical liaison for C-level clients in China & Singapore, aligning solution deployment with regulatory requirements and client environments.\n\nOversaw onboarding of 3 fintech solutions, reducing time-to-value by 25% and ensuring smooth integration.\n\nManaged executive escalations by coordinating 6 cross-functional teams to resolve integration and compliance challenges.\n\nBuilt trusted relationships with enterprise stakeholders, influencing roadmap priorities and driving renewals.\n\nIceKredit | General Manager – Financial Services Industry | 2017 – 2020\n\nOwned technical account relationships with 20+ enterprise clients, ensuring deployment of AI-based credit systems met adoption and compliance goals.\n\nStandardized client solutions into 5 reusable products, providing predictable onboarding experiences and faster time-to-value.\n\nHandled escalations by coordinating data science and engineering teams, reducing deployment risks for Tier-1 banks.\n\nMaintained renewal success (>90%) by proactively addressing technical and regulatory concerns.\n\nHuawei | Technical Key Account Manager | 2016 – 2017\n\nServed as TAM for Ping An Bank and China Merchants Bank, supporting $10M+ in total project value.\n\nDesigned 10+ enterprise-grade solution proposals addressing integration, security, and compliance requirements.\n\nManaged technical escalations by aligning 4 internal teams to resolve issues, accelerating project approvals by 30%.\n\nActed as trusted advisor to C-level stakeholders, presenting roadmaps that influenced procurement decisions.\n\nDiebold Nixdorf | Solution Architect | 2011 – 2016\n\nFunctioned as technical account partner for 15+ banks, ensuring 35+ solution deployments achieved SLA targets.\n\nReduced escalations and downtime by 18% through proactive monitoring and predictive cash management systems.\n\nSupported adoption of new outsourcing models, providing hands-on guidance to field teams and executives.\n\nPartnered with regional clients in China & SEA to ensure localized deployments met technical and regulatory standards.\n\nFuji Xerox | Solution Engineer – Banking | 2009 – 2011\n\nSupported 12+ enterprise accounts as technical liaison, ensuring smooth adoption of Fuji Xerox banking solutions.\n\nConducted 50+ technical training sessions to equip consultants with customer-facing support skills.\n\nAddressed presales escalations by providing customized technical documentation, reducing deal closure cycles by ~20%.\n\nPartnered with account managers to deliver consistent technical success across multiple Tier-1 banking clients.\n\nStrict Instructions:\n1. **Preserve authenticity**:\n   - Do not invent or exaggerate facts, numbers, or industries not present in my working experience.\n   - Only rephrase or highlight existing details.\n\n2. **Keep structure stable**:\n   - Keep all original Company, Title, and Time period.\n   - Keep the same number of bullet points per experience.\n   - Rewrite each bullet, but do not merge or split.\n\n3. **Customization rule**:\n   - Use JD key words only as a **lens to rephrase** my bullets.\n   - If a bullet naturally connects with a keyword, emphasize it with JD-style language.\n   - If no natural connection, keep the bullet with only minimal polish.\n   - Do not add keywords that don’t logically fit.\n\n4. **Language style**:\n   - Concise, professional, measurable impact.\n   - Strong action verbs.\n   - No personality traits unless already in my text.\n\n5. **Output format**:\n   Company | Title | Time\n   - Bullet 1\n   - Bullet 2\n   (and so on)\n6. **Quality enhancement rules**:\n   - Each bullet should begin with a strong action verb and focus on **what I did + how I did it + impact/result**. \n   - Whenever possible, emphasize **measurable outcomes** (%, $, growth, efficiency, scale, adoption, satisfaction, or other concrete indicators).\n   - Prioritize achievements that demonstrate **positive impact** in areas such as business outcomes, client/stakeholder value, process or efficiency improvements, solution delivery, innovation, or collaboration — in line with  key words.\n   - Keep wording precise and avoid vague adjectives like \"great\", \"successful\", \"effective\".\n   - Ensure every bullet communicates **tangible value delivered to the organization, clients, team, or market**, not just tasks performed.\nDo not include any explanations, introductions, or extra text.\nDo not include any explanations, introductions, or extra text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2336,
        672
      ],
      "id": "17cc3a14-d7f0-44b1-9cfb-60d3c452ae73",
      "name": "Technical Account Manager"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2624,
        912
      ],
      "id": "0a4b1953-906e-4f97-bdee-154fb0f728da",
      "name": "DeepSeek Chat Model7",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "仅负责接收AI Solution （仅限AI的解决方案）及相似的Title 和 Key Words的数据，并生成定制化的Experiences",
        "text": "=You are a senior resume experience writing expert. \nYour task is to customize my existing work experiences so they align with the target Job Description keywords.\n\n{{ $json.text }}is extracted key words from the Job Description.\n下面是我现在的工作经验：\nMy original work experiences, each with Company, Title, Time period and Bullet points:\n\nStanleyHi | Founder & Full-Stack Developer | 2024 – Present\n\nDesigned and deployed 4 AI-driven platforms—including IELTS Speaking Engine, JD2CV (resume generator), Readlingua (multilingual EdTech), and Strategy–Plan–Task—showcasing ability to translate business needs into AI-powered solutions.\n\nIntegrated LLM APIs (Gemini, DeepSeek, Hugging Face) into production systems, enabling content generation, NLP pipelines, and interactive learning features.\n\nBuilt scalable full-stack architectures (Next.js, Supabase, Vercel) to support AI workloads and ensure reliable client-facing deployments.\n\nDelivered POC-to-production execution independently, demonstrating ability to design, prototype, and operationalize AI use cases.\n\nSavvy Pro | Academic Tutor – STEM | 2023 – 2025\n\nApplied AI-enhanced teaching tools to improve student outcomes, achieving 100% pass rates and 25%+ score improvements.\n\nTranslated technical concepts in ML, Python, and Big Data into accessible frameworks, showcasing ability to bridge AI technology with practical adoption.\n\nDesigned project-style lesson modules, mimicking real-world solution delivery in analytics and computing.\n\nNCS | Financial Services Industry Lead | 2021 – 2022\n\nDesigned 3 fintech AI solutions (real-time filtering, onboarding automation, compliance checks) that accelerated deployment by 25% and improved client retention.\n\nPresented AI solution roadmaps to C-level executives, securing $2M+ in contracts and building trust as a technical advisor.\n\nCoordinated cross-functional teams to align AI-enabled products with regulatory requirements in China and Singapore.\n\nIceKredit | General Manager – Financial Services Industry | 2017 – 2020\n\nClosed 20+ enterprise AI solution deals, including $1M+ contracts for machine learning–based credit scoring and decisioning platforms.\n\nLed delivery of 12 customized ML models into production, collaborating with data scientists and engineers to ensure adoption and compliance.\n\nScaled client implementations into 5 standardized AI products, improving delivery efficiency by 35% and enabling SaaS-style replication.\n\nHuawei | Technical Key Account Manager | 2016 – 2017\n\nDesigned 10+ AI-augmented solution proposals for Ping An Bank and CMB, addressing regulatory and security needs for banking modernization.\n\nServed as trusted advisor for $10M+ in AI-related solution value, influencing executive decisions on adoption.\n\nCoordinated R&D, product, and compliance teams to resolve technical blockers, accelerating approvals by 30%.\n\nDiebold Nixdorf | Solution Architect | 2011 – 2016\n\nDeployed predictive cash management and monitoring systems for 1,200+ terminals, introducing early AI/ML components to reduce downtime by 18%.\n\nDelivered 35+ AI-enabled operational solutions combining software, hardware, and workforce optimization for enterprise banking clients.\n\nActed as technical bridge across China & SEA, supporting AI solution localization and adoption.\n\nFuji Xerox | Solution Engineer – Banking | 2009 – 2011\n\nSupported presales of AI-related banking solutions in 12+ enterprise accounts, contributing to 110%+ YoY sales.\n\nDelivered 50+ training sessions and 10+ demos to educate clients on AI-enabled features, improving adoption rates and sales cycles.\n\nPartnered with account teams to customize AI-ready solutions, ensuring integration with compliance and digital transformation goals.\n\nStrict Instructions:\n1. **Preserve authenticity**:\n   - Do not invent or exaggerate facts, numbers, or industries not present in my working experience.\n   - Only rephrase or highlight existing details.\n\n2. **Keep structure stable**:\n   - Keep all original Company, Title, and Time period.\n   - Keep the same number of bullet points per experience.\n   - Rewrite each bullet, but do not merge or split.\n\n3. **Customization rule**:\n   - Use JD key words only as a **lens to rephrase** my bullets.\n   - If a bullet naturally connects with a keyword, emphasize it with JD-style language.\n   - If no natural connection, keep the bullet with only minimal polish.\n   - Do not add keywords that don’t logically fit.\n\n4. **Language style**:\n   - Concise, professional, measurable impact.\n   - Strong action verbs.\n   - No personality traits unless already in my text.\n\n5. **Output format**:\n   Company | Title | Time\n   - Bullet 1\n   - Bullet 2\n   (and so on)\n6. **Quality enhancement rules**:\n   - Each bullet should begin with a strong action verb and focus on **what I did + how I did it + impact/result**. \n   - Whenever possible, emphasize **measurable outcomes** (%, $, growth, efficiency, scale, adoption, satisfaction, or other concrete indicators).\n   - Prioritize achievements that demonstrate **positive impact** in areas such as business outcomes, client/stakeholder value, process or efficiency improvements, solution delivery, innovation, or collaboration — in line with  key words.\n   - Keep wording precise and avoid vague adjectives like \"great\", \"successful\", \"effective\".\n   - Ensure every bullet communicates **tangible value delivered to the organization, clients, team, or market**, not just tasks performed.\n\nDo not include any explanations, introductions, or extra text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2624,
        672
      ],
      "id": "e6144d0d-553b-4e3c-b7b0-7d33bed3f6f1",
      "name": "AI Solution"
    },
    {
      "parameters": {
        "toolDescription": "仅负责接收Partnerships or Alliance及相似的Title 和 Key Words的数据，并生成定制化的Experiences",
        "text": "=You are a senior resume experience writing expert. \nYour task is to customize my existing work experiences so they align with the target Job Description keywords.\n\n{{ $json.text }}is extracted key words from the Job Description.\n下面是我现在的工作经验：\nMy original work experiences, each with Company, Title, Time period and Bullet points:\n\nStanleyHi | Founder & Full-Stack Developer | 2024 – Present\n\nBuilt partnerships with API vendors (Gemini, DeepSeek, Hugging Face) to strengthen AI platform capabilities and expand solution competitiveness.\n\nNegotiated and integrated third-party technologies into 4 SaaS-style platforms (IELTS Engine, JD2CV, Readlingua, Strategy–Plan–Task), ensuring joint value creation.\n\nActed as both technical and business liaison, aligning partner roadmaps with product direction to improve adoption and market reach.\n\nDemonstrated ability to identify, onboard, and maintain partnerships that directly enhanced user value and growth.\n\nSavvy Pro | Academic Tutor – STEM | 2023 – 2025\n\nExpanded client reach across Italy, UK, and Australia through referral partnerships, demonstrating capability to leverage networks for growth.\n\nCo-created tailored learning modules with students and academic peers, aligning shared goals to strengthen outcomes.\n\nShowcased ability to build trust-based partnerships by delivering measurable improvements (100% pass rates, 25%+ score increases).\n\nNCS | Financial Services Industry Lead | 2021 – 2022\n\nForged partnerships with ecosystem vendors and compliance providers to strengthen financial services solution packaging.\n\nDrove $5M+ pipeline and $2M+ closed deals by enabling co-selling opportunities across China and Singapore markets.\n\nAligned cross-partner GTM strategy with local regulations, improving adoption and retention by 25%.\n\nBuilt trusted alliances with C-level executives, positioning NCS as a strategic partner in the FS ecosystem.\n\nIceKredit | General Manager – Financial Services Industry | 2017 – 2020\n\nEstablished 6+ partnerships with data vendors, regulatory compliance providers, and ecosystem players, broadening solution competitiveness.\n\nScaled 20+ client accounts by aligning partner capabilities with enterprise client needs, driving $1M+ deals.\n\nStandardized co-sell solution packages, enabling repeatable delivery and stronger partner enablement.\n\nMaintained long-term strategic alliances that supported multi-year client renewals and expansion.\n\nHuawei | Technical Key Account Manager | 2016 – 2017\n\nActed as alliance manager for 2 top-tier banking clients, supporting $10M+ deal value through joint planning and co-execution.\n\nCollaborated with internal and external partners to deliver 10+ proposals tailored to compliance and integration needs.\n\nSecured executive sponsorship by presenting partnership-driven roadmaps to C-level stakeholders.\n\nStrengthened Huawei’s ecosystem presence within financial services vertical.\n\nDiebold Nixdorf | Solution Architect | 2011 – 2016\n\nManaged alliances with regional banking clients and technology partners, delivering 35+ joint solutions across China & SEA.\n\nEnabled long-term partnerships through SLA-driven performance models, resulting in 25% efficiency gains.\n\nActed as ecosystem connector, integrating hardware, software, and field operations into unified client offerings.\n\nExpanded partner collaboration opportunities by introducing predictive monitoring systems, reducing downtime by 18%.\n\nFuji Xerox | Solution Engineer – Banking | 2009 – 2011\n\nSupported partnerships with 12+ enterprise banking clients, contributing to 110%+ YoY quota attainment.\n\nEnabled partner sales teams through 50+ training sessions and 10+ demos, driving co-selling success.\n\nCollaborated with account managers to create tailored solution packages that improved compliance and integration value.\n\nEnhanced brand presence by representing Fuji Xerox at 10+ industry events, strengthening ecosystem visibility.\nStrict Instructions:\n1. **Preserve authenticity**:\n   - Do not invent or exaggerate facts, numbers, or industries not present in my working experience.\n   - Only rephrase or highlight existing details.\n\n2. **Keep structure stable**:\n   - Keep all original Company, Title, and Time period.\n   - Keep the same number of bullet points per experience.\n   - Rewrite each bullet, but do not merge or split.\n\n3. **Customization rule**:\n   - Use JD key words only as a **lens to rephrase** my bullets.\n   - If a bullet naturally connects with a keyword, emphasize it with JD-style language.\n   - If no natural connection, keep the bullet with only minimal polish.\n   - Do not add keywords that don’t logically fit.\n\n4. **Language style**:\n   - Concise, professional, measurable impact.\n   - Strong action verbs.\n   - No personality traits unless already in my text.\n\n5. **Output format**:\n   Company | Title | Time\n   - Bullet 1\n   - Bullet 2\n   (and so on)\n6. **Quality enhancement rules**:\n   - Each bullet should begin with a strong action verb and focus on **what I did + how I did it + impact/result**. \n   - Whenever possible, emphasize **measurable outcomes** (%, $, growth, efficiency, scale, adoption, satisfaction, or other concrete indicators).\n   - Prioritize achievements that demonstrate **positive impact** in areas such as business outcomes, client/stakeholder value, process or efficiency improvements, solution delivery, innovation, or collaboration — in line with  key words.\n   - Keep wording precise and avoid vague adjectives like \"great\", \"successful\", \"effective\".\n   - Ensure every bullet communicates **tangible value delivered to the organization, clients, team, or market**, not just tasks performed.\n\nDo not include any explanations, introductions, or extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2928,
        672
      ],
      "id": "1adde319-68b2-466e-8b2f-524cc01ab6da",
      "name": "Partnerships Alliance Manager"
    },
    {
      "parameters": {
        "toolDescription": "仅负责接收Project Manager及相似的Title 和 Key Words的数据，并生成定制化的Experiences",
        "text": "=You are a senior resume experience writing expert. \nYour task is to customize my existing work experiences so they align with the target Job Description keywords.\n\n{{ $json.text }}is extracted key words from the Job Description.\n下面是我现在的工作经验：\nMy original work experiences, each with Company, Title, Time period and Bullet points:\nStanleyHi | Founder & Full-Stack Developer | 2024 – Present\n\nManaged end-to-end delivery of 4 AI-driven projects (IELTS Engine, JD2CV, Readlingua, Strategy–Plan–Task), from requirements gathering to deployment on Vercel.\n\nDefined project scope, roadmap, and milestones while coordinating design, engineering, and external API providers (Gemini, DeepSeek, Hugging Face).\n\nApplied Agile-style iterations by incorporating user feedback and prioritizing features, ensuring on-time delivery and adoption.\n\nOversaw project risks and dependencies, implementing rapid mitigation strategies to maintain delivery quality.\n\nSavvy Pro | Academic Tutor – STEM | 2023 – 2025\n\nDesigned and delivered 30+ structured lesson plans (mini-projects) for 10+ students, ensuring alignment with academic objectives and deadlines.\n\nManaged project-like tutoring engagements, achieving 100% on-time completion and measurable results (25%+ score improvements).\n\nAdapted scope and approach based on student needs, demonstrating flexible project execution across diverse requirements.\n\nNCS | Financial Services Industry Lead | 2021 – 2022\n\nDirected delivery of 3 fintech projects (onboarding platform, real-time content filtering, compliance system), reducing deployment cycles by 25%.\n\nCoordinated 6 cross-functional teams (product, delivery, compliance, partners) to align on project milestones and requirements.\n\nMaintained stakeholder visibility through regular executive updates, securing sponsorship and alignment with regulatory goals.\n\nManaged $5M+ project pipeline, ensuring scope control and on-time completion that contributed to 30% YoY FS vertical growth.\n\nIceKredit | General Manager – Financial Services Industry | 2017 – 2020\n\nOversaw project delivery of 12 AI-based credit scoring models for Tier-1 banks, ensuring successful deployment under strict compliance timelines.\n\nStandardized client-specific projects into 5 reusable solution templates, reducing delivery risks and improving efficiency by 35%.\n\nLed project teams of 10+ (data science, engineering, delivery), ensuring scope clarity and timeline adherence across multiple clients.\n\nReported progress and risks directly to executives, building trust and securing multi-year engagements.\n\nHuawei | Technical Key Account Manager | 2016 – 2017\n\nManaged multiple core banking modernization projects with Ping An Bank and CMB, covering $10M+ deal value.\n\nDefined technical project milestones and coordinated 4 internal teams (R&D, product, delivery, compliance) to achieve 30% faster approvals.\n\nActed as project lead in C-level meetings, presenting roadmaps and status updates that influenced decision-making.\n\nEnsured successful handover by monitoring risks and proactively resolving integration challenges.\n\nDiebold Nixdorf | Solution Architect | 2011 – 2016\n\nDelivered 35+ end-to-end banking infrastructure projects, managing timelines, scope, and client expectations across China and SEA.\n\nReduced downtime by 18% for 1,200+ ATMs through effective project planning and monitoring systems.\n\nOversaw outsourcing model transformation projects for 15+ clients, ensuring on-time delivery and 25% efficiency improvements.\n\nLed cross-regional project teams, ensuring milestones were met while managing cultural and regulatory complexities.\n\nFuji Xerox | Solution Engineer – Banking | 2009 – 2011\n\nSupported 12+ enterprise projects, contributing to 110%+ YoY sales through timely solution delivery.\n\nManaged technical project documentation and customization, ensuring compliance and client approval within deadlines.\n\nConducted 50+ training sessions and 10+ demos, aligning presales project activities with client expectations.\n\nCoordinated across account and presales teams to accelerate project timelines by ~20%.\n\nStrict Instructions:\n1. **Preserve authenticity**:\n   - Do not invent or exaggerate facts, numbers, or industries not present in my working experience.\n   - Only rephrase or highlight existing details.\n\n2. **Keep structure stable**:\n   - Keep all original Company, Title, and Time period.\n   - Keep the same number of bullet points per experience.\n   - Rewrite each bullet, but do not merge or split.\n\n3. **Customization rule**:\n   - Use JD key words only as a **lens to rephrase** my bullets.\n   - If a bullet naturally connects with a keyword, emphasize it with JD-style language.\n   - If no natural connection, keep the bullet with only minimal polish.\n   - Do not add keywords that don’t logically fit.\n\n4. **Language style**:\n   - Concise, professional, measurable impact.\n   - Strong action verbs.\n   - No personality traits unless already in my text.\n\n5. **Output format**:\n   Company | Title | Time\n   - Bullet 1\n   - Bullet 2\n   (and so on)\n6. **Quality enhancement rules**:\n   - Each bullet should begin with a strong action verb and focus on **what I did + how I did it + impact/result**. \n   - Whenever possible, emphasize **measurable outcomes** (%, $, growth, efficiency, scale, adoption, satisfaction, or other concrete indicators).\n   - Prioritize achievements that demonstrate **positive impact** in areas such as business outcomes, client/stakeholder value, process or efficiency improvements, solution delivery, innovation, or collaboration — in line with  key words.\n   - Keep wording precise and avoid vague adjectives like \"great\", \"successful\", \"effective\".\n   - Ensure every bullet communicates **tangible value delivered to the organization, clients, team, or market**, not just tasks performed.\n\nDo not include any explanations, introductions, or extra text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3200,
        672
      ],
      "id": "bc3a5fc9-cd20-4234-a3fb-ac2c2b506729",
      "name": "Project Manager"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2928,
        912
      ],
      "id": "4365e1f8-42b5-409e-89a0-b8473bad8f65",
      "name": "DeepSeek Chat Model8",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        3200,
        912
      ],
      "id": "e2bf92ba-d28b-4dab-88b3-cebef613a90d",
      "name": "DeepSeek Chat Model9",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "仅负责接收Key/Named Account Manager及相似的Title 和 Key Words的数据，并生成定制化的Experiences",
        "text": "=You are a senior resume experience writing expert. \nYour task is to customize my existing work experiences so they align with the target Job Description keywords.\n\n{{ $json.text }}is extracted key words from the Job Description.\n下面是我现在的工作经验：\nMy original work experiences, each with Company, Title, Time period and Bullet points:\n\nStanleyHi | Founder & Full-Stack Developer | 2024 – Present\n\nActed as primary account manager for early adopters of 4 SaaS-style platforms (IELTS Engine, JD2CV, Readlingua, Strategy–Plan–Task), building trust and driving repeat engagement.\n\nGathered and translated customer feedback into feature updates, improving user retention and adoption across multiple geographies.\n\nEstablished partnerships with API vendors (Gemini, DeepSeek, Hugging Face) to enhance platform value for end users.\n\nDemonstrated account management mindset by aligning product roadmaps with client needs and ensuring measurable outcomes.\n\nSavvy Pro | Academic Tutor – STEM | 2023 – 2025\n\nManaged ongoing relationships with 10+ undergrad and postgrad clients, aligning customized lesson plans with long-term success goals.\n\nAchieved >25% average score improvement and 100% pass rates, driving client satisfaction and repeat business.\n\nExpanded key accounts through referrals and word-of-mouth across Italy, UK, and Australia.\n\nNCS | Financial Services Industry Lead | 2021 – 2022\n\nOwned executive relationships with Tier-1 financial clients, driving $5M+ pipeline and $2M+ contract closures.\n\nManaged account onboarding and retention for 3 localized fintech solutions, contributing to 30% YoY vertical growth.\n\nActed as trusted advisor to C-level stakeholders, aligning solution packaging with regulatory requirements.\n\nStrengthened long-term relationships through regular updates and demonstrated ROI.\n\nIceKredit | General Manager – Financial Services Industry | 2017 – 2020\n\nManaged 20+ strategic banking and finance accounts, ensuring successful deployment of AI-based credit scoring systems.\n\nDrove >90% renewal rate and expanded accounts by upselling standardized solution packages.\n\nBuilt partnerships with 6+ data and compliance vendors to enhance account value and strengthen long-term competitiveness.\n\nLed multi-year engagements that delivered measurable ROI and repeat business from Tier-1 clients.\n\nHuawei | Technical Key Account Manager | 2016 – 2017\n\nServed as key account manager for Ping An Bank and CMB, overseeing $10M+ in projects and maintaining long-term trust.\n\nDesigned 10+ enterprise proposals aligned to client-specific requirements, supporting renewal and expansion opportunities.\n\nPartnered with 4 internal teams to address escalations and accelerate project approvals by 30%.\n\nBuilt strong C-level relationships, positioning Huawei as a strategic partner in digital banking modernization.\n\nDiebold Nixdorf | Solution Architect | 2011 – 2016\n\nManaged 15+ enterprise banking accounts, ensuring SLA compliance and upsell opportunities through 35+ delivered solutions.\n\nImproved client satisfaction by reducing downtime 18% across 1,200+ ATMs, driving renewals and expansion.\n\nStrengthened regional account footprint by supporting outsourcing model transformations with measurable ROI.\n\nPartnered with clients across China & SEA to ensure localized adoption and repeat success.\n\nFuji Xerox | Solution Engineer – Banking | 2009 – 2011\n\nSupported 12+ enterprise banking accounts, contributing to consistent quota overachievement (110%+ YoY).\n\nStrengthened account loyalty through 50+ training sessions and 10+ demos, improving client engagement.\n\nPartnered with account managers on 15+ presales opportunities, tailoring solutions to compliance and integration needs.\n\nExpanded account visibility via industry events, accelerating client trust and deal closure cycles.\n\nStrict Instructions:\n1. **Preserve authenticity**:\n   - Do not invent or exaggerate facts, numbers, or industries not present in my working experience.\n   - Only rephrase or highlight existing details.\n\n2. **Keep structure stable**:\n   - Keep all original Company, Title, and Time period.\n   - Keep the same number of bullet points per experience.\n   - Rewrite each bullet, but do not merge or split.\n\n3. **Customization rule**:\n   - Use JD key words only as a **lens to rephrase** my bullets.\n   - If a bullet naturally connects with a keyword, emphasize it with JD-style language.\n   - If no natural connection, keep the bullet with only minimal polish.\n   - Do not add keywords that don’t logically fit.\n\n4. **Language style**:\n   - Concise, professional, measurable impact.\n   - Strong action verbs.\n   - No personality traits unless already in my text.\n\n5. **Output format**:\n   Company | Title | Time\n   - Bullet 1\n   - Bullet 2\n   (and so on)\n6. **Quality enhancement rules**:\n   - Each bullet should begin with a strong action verb and focus on **what I did + how I did it + impact/result**. \n   - Whenever possible, emphasize **measurable outcomes** (%, $, growth, efficiency, scale, adoption, satisfaction, or other concrete indicators).\n   - Prioritize achievements that demonstrate **positive impact** in areas such as business outcomes, client/stakeholder value, process or efficiency improvements, solution delivery, innovation, or collaboration — in line with  key words.\n   - Keep wording precise and avoid vague adjectives like \"great\", \"successful\", \"effective\".\n   - Ensure every bullet communicates **tangible value delivered to the organization, clients, team, or market**, not just tasks performed.\nDo not include any explanations, introductions, or extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3472,
        672
      ],
      "id": "c642dcb3-baea-43ac-bc66-c31c82f1e6a4",
      "name": "Key/Named Account Manager"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        3472,
        912
      ],
      "id": "9b9a94c7-8d9b-4561-98f0-6c4692662249",
      "name": "DeepSeek Chat Model10",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "仅负责接收Solution及相似的Title 和 Key Words的数据，并生成定制化的Experiences\nSolution related role ONLY: generate customized work experiences ",
        "text": "=You are a senior resume experience writing expert. \nYour task is to customize my existing work experiences so they align with the target Job Description keywords.\n\n{{ $json.text }}is extracted key words from the Job Description.\n下面是我现在的工作经验：\nMy original work experiences, each with Company, Title, Time period and Bullet points:\n\nStanleyHi | Founder & Full-Stack Developer | 2024 – Present\n\nDesigned and delivered 4+ end-to-end solutions in AI, education, and productivity, applying full-stack expertise in Next.js, Tailwind CSS, Supabase, and Notion API.\n\nBuilt JD2CV, an AI-powered resume generator integrating rule-based matching and LLMs; Readlingua, a multilingual learning platform with contextual grammar features; and IELTS Speaking Engine, providing automated scoring and feedback.\n\nIntegrated APIs from Gemini, DeepSeek, and Hugging Face to design scalable solution architectures for LLM-based applications.\n\nDemonstrated strong solutioning mindset: translating complex requirements into working products, aligning technology with real-world use cases.\n\nSavvy Pro | Academic Tutor – STEM | 2023 – 2025\n\nTranslated technical concepts in Big Data, ML, and Python into tailored solutions for international students, resulting in 100% pass rate and measurable score improvements.\n\nDesigned 30+ customized “learning-as-a-service” modules, demonstrating ability to build structured, client-facing solutions under diverse requirements.\n\nShowcased solution delivery skills through adapting technical complexity into accessible frameworks, improving client (student) engagement and adoption.\n\nNCS | Financial Services Industry Lead | 2021 – 2022\n\nDesigned and launched 3 localized fintech solutions (WeChat-based onboarding, real-time filtering, digital compliance tools), accelerating deployments by 25% and increasing retention.\n\nLed GTM solution strategy for FS vertical in China and Singapore, generating $5M+ pipeline and closing $2M+ contracts.\n\nCoordinated 6 cross-functional teams (product, delivery, ecosystem) to align solution packaging with regulatory and integration requirements.\n\nPresented sector strategy and solution roadmaps to C-level clients, influencing roadmap investment and securing executive sponsorship.\n\nIceKredit | General Manager – Financial Services Industry | 2017 – 2020\n\nClosed 20+ enterprise solution deals with top-tier banks, including $1M+ AI-powered credit scoring deployments.\n\nStandardized 5 reusable solution products from client-specific implementations, improving delivery efficiency by 35% and enabling SaaS-style scaling.\n\nManaged 10+ cross-functional teams to deliver 12 credit models into production, strengthening industry trust and adoption.\n\nBuilt partnerships with regulatory and data providers to enhance solution competitiveness and compliance alignment.\n\nHuawei | Technical Key Account Manager | 2016 – 2017\n\nOwned technical solution delivery for 2 key global accounts (Ping An Bank, CMB) with $10M+ deal value.\n\nDesigned 10+ enterprise-grade solution proposals addressing integration, security, and compliance for core banking modernization.\n\nAligned 4 internal teams (product, R&D, delivery, compliance) to accelerate project approvals by 30%.\n\nPresented solution roadmaps and architecture blueprints to C-level stakeholders, influencing multi-million-dollar procurement.\n\nDiebold Nixdorf | Solution Architect | 2011 – 2016\n\nDesigned and delivered 35+ self-service banking solutions integrating hardware, software, and workforce, enhancing device uptime and security.\n\nReduced downtime by 18% across 1,200+ ATMs through predictive cash management and monitoring solutions.\n\nRe-architected operations outsourcing models for 15+ enterprise clients, improving efficiency by 25% with SLA-driven workflows.\n\nLed 3 regional delivery projects (China & SEA), bridging product and client requirements into tailored solutions.\n\nFuji Xerox | Solution Engineer – Banking | 2009 – 2011\n\nSupported delivery of tailored banking solutions to 12+ enterprise clients, contributing to 110%+ YoY sales achievement.\n\nConducted 50+ training sessions to scale solution delivery across 3 regional offices.\n\nParticipated in 10+ industry demos, reducing sales cycle by ~20% through technical solution engagement.\n\nCollaborated on 15+ presales opportunities, providing technical documentation and customization to meet compliance and integration needs.\n\nStrict Instructions:\n1. **Preserve authenticity**:\n   - Do not invent or exaggerate facts, numbers, or industries not present in my working experience.\n   - Only rephrase or highlight existing details.\n\n2. **Keep structure stable**:\n   - Keep all original Company, Title, and Time period.\n   - Keep the same number of bullet points per experience.\n   - Rewrite each bullet, but do not merge or split.\n\n3. **Customization rule**:\n   - Use JD key words only as a **lens to rephrase** my bullets.\n   - If a bullet naturally connects with a keyword, emphasize it with JD-style language.\n   - If no natural connection, keep the bullet with only minimal polish.\n   - Do not add keywords that don’t logically fit.\n\n4. **Language style**:\n   - Concise, professional, measurable impact.\n   - Strong action verbs.\n   - No personality traits unless already in my text.\n\n5. **Output format**:\n   Company | Title | Time\n   - Bullet 1\n   - Bullet 2\n   (and so on)\n6. **Quality enhancement rules**:\n   - Each bullet should begin with a strong action verb and focus on **what I did + how I did it + impact/result**. \n   - Whenever possible, emphasize **measurable outcomes** (%, $, growth, efficiency, scale, adoption, satisfaction, or other concrete indicators).\n   - Prioritize achievements that demonstrate **positive impact** in areas such as business outcomes, client/stakeholder value, process or efficiency improvements, solution delivery, innovation, or collaboration — in line with  key words.\n   - Keep wording precise and avoid vague adjectives like \"great\", \"successful\", \"effective\".\n   - Ensure every bullet communicates **tangible value delivered to the organization, clients, team, or market**, not just tasks performed.\nDo not include any explanations, introductions, or extra text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1088,
        672
      ],
      "id": "c3653897-43a7-40ad-bc6d-789d3f67ebd1",
      "name": "Solution - General"
    },
    {
      "parameters": {
        "toolDescription": "仅负责接收Customer/Client Success及相似的Title 和 Key Words的数据，并生成定制化的Experiences",
        "text": "=You are a senior resume experience writing expert. \nYour task is to customize my existing work experiences so they align with the target Job Description keywords.\n\n{{ $json.text }}is extracted key words from the Job Description.\n下面是我现在的工作经验：\nMy original work experiences, each with Company, Title, Time period and Bullet points:\n\nStanleyHi | Founder & Full-Stack Developer | 2024 – Present\n\nEngaged early adopters of 4 self-built platforms (IELTS Speaking Engine, JD2CV, Readlingua, Strategy-Plan-Task) and collected user feedback to improve adoption and usability.\n\nDelivered consistent client-like outcomes by transforming complex AI/EdTech concepts into intuitive tools, resulting in >1,000 recurring sessions across multiple geographies.\n\nDrove customer success by ensuring each platform delivered measurable value—improved test prep outcomes, streamlined job applications, and enhanced language learning.\n\nBuilt long-term trust by rapidly iterating features based on user feedback and demonstrating commitment to customer outcomes.\n\nSavvy Pro | Academic Tutor – STEM | 2023 – 2025\n\nAchieved 100% pass rate and 25%+ score improvements by tailoring lessons to each student’s needs, demonstrating strong customer success and satisfaction outcomes.\n\nManaged relationships with 10+ undergrad and postgrad students, aligning tutoring strategy to their long-term academic and career goals.\n\nTranslated complex computing concepts into accessible, engaging content, increasing adoption and learner confidence across global student base.\n\nNCS | Financial Services Industry Lead | 2021 – 2022\n\nPartnered with C-level clients to ensure fintech deployments met adoption and retention goals, contributing to $2M+ in contracts.\n\nOversaw customer onboarding for 3 localized solutions, reducing deployment friction and increasing retention by 25%.\n\nActed as the voice of the customer, aligning solution packaging with local compliance needs and driving satisfaction in high-stakes accounts.\n\nStrengthened executive relationships by presenting progress updates and demonstrating ROI, securing ongoing investment.\n\nIceKredit | General Manager – Financial Services Industry | 2017 – 2020\n\nBuilt long-term relationships with 20+ enterprise clients, ensuring successful deployment of AI credit systems and driving >90% renewal rates.\n\nScaled customer success by standardizing client implementations into 5 reusable products, improving consistency and adoption.\n\nServed as trusted advisor for top banks, aligning delivery with regulatory requirements and ensuring client confidence.\n\nMaintained continuous client engagement, resulting in multi-year contracts and expansion opportunities.\n\nHuawei | Technical Key Account Manager | 2016 – 2017\n\nServed as primary customer success owner for two Tier-1 banking clients, supporting $10M+ in deal value and ensuring successful project rollout.\n\nBuilt trust with C-level stakeholders by presenting technical roadmaps in business value terms, leading to faster approvals and expanded scope.\n\nPartnered with internal teams to proactively address integration and compliance issues, improving client satisfaction and reducing escalations.\n\nMaintained strong post-deployment relationships, securing repeat business and ongoing trust.\n\nDiebold Nixdorf | Solution Architect | 2011 – 2016\n\nSupported 15+ enterprise clients in rethinking operations outsourcing models, ensuring adoption and measurable ROI with SLA-driven performance.\n\nIncreased customer satisfaction by reducing ATM downtime by 18% across 1,200+ terminals.\n\nDelivered 35+ customized solutions with a strong focus on user training, field support, and adoption metrics.\n\nActed as long-term partner to banking clients, ensuring projects achieved intended outcomes and repeat success.\n\nFuji Xerox | Solution Engineer – Banking | 2009 – 2011\n\nSupported 12+ enterprise banking clients, ensuring successful customization and adoption of Fuji Xerox solutions.\n\nConducted 50+ training sessions for consultants and presales teams to improve client experience and standardize delivery.\n\nEngaged clients at industry events and demos, showcasing value and accelerating adoption cycles.\n\nContributed to 110%+ YoY sales by strengthening client trust and long-term satisfaction.\n\nStrict Instructions:\n1. **Preserve authenticity**:\n   - Do not invent or exaggerate facts, numbers, or industries not present in my working experience.\n   - Only rephrase or highlight existing details.\n\n2. **Keep structure stable**:\n   - Keep all original Company, Title, and Time period.\n   - Keep the same number of bullet points per experience.\n   - Rewrite each bullet, but do not merge or split.\n\n3. **Customization rule**:\n   - Use JD key words only as a **lens to rephrase** my bullets.\n   - If a bullet naturally connects with a keyword, emphasize it with JD-style language.\n   - If no natural connection, keep the bullet with only minimal polish.\n   - Do not add keywords that don’t logically fit.\n\n4. **Language style**:\n   - Concise, professional, measurable impact.\n   - Strong action verbs.\n   - No personality traits unless already in my text.\n\n5. **Output format**:\n   Company | Title | Time\n   - Bullet 1\n   - Bullet 2\n   (and so on)\nDo not include any explanations, introductions, or extra text.\n6. **Quality enhancement rules**:\n   - Each bullet should begin with a strong action verb and focus on **what I did + how I did it + impact/result**. \n   - Whenever possible, emphasize **measurable outcomes** (%, $, growth, efficiency, scale, adoption, satisfaction, or other concrete indicators).\n   - Prioritize achievements that demonstrate **positive impact** in areas such as business outcomes, client/stakeholder value, process or efficiency improvements, solution delivery, innovation, or collaboration — in line with  key words.\n   - Keep wording precise and avoid vague adjectives like \"great\", \"successful\", \"effective\".\n   - Ensure every bullet communicates **tangible value delivered to the organization, clients, team, or market**, not just tasks performed.\nDo not include any explanations, introductions, or extra text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1424,
        672
      ],
      "id": "031467f3-a1d7-4eec-a9e6-24b400e659a1",
      "name": "Customer/Client Success"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        656,
        896
      ],
      "id": "b9ba20f0-8042-4228-a46f-fef4488cd582",
      "name": "AI Agent1",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        336,
        416
      ],
      "id": "9bc450b6-c139-45dc-ab79-395df5c7db91",
      "name": "Key Words Extractor1",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1088,
        896
      ],
      "id": "b107e5dc-56ba-45cd-9d07-bcc29cfb33a3",
      "name": "Solution - General1",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1424,
        896
      ],
      "id": "65d99632-ae29-42f6-bcd7-2d2fef4e9e29",
      "name": "Customer/Client Success1",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1760,
        896
      ],
      "id": "bd8030df-9887-47ec-9996-45b23b4bad7a",
      "name": "Business Development1",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2048,
        896
      ],
      "id": "dc1adeb6-ac1d-4d2e-893c-0f1fda1003ff",
      "name": "Sales1",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Key Words Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Key Words Extractor": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Technical Account Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Development": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sales": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Technical Account Manager": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Solution",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Solution": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Partnerships Alliance Manager": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Project Manager": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Partnerships Alliance Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Project Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Key/Named Account Manager": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Key/Named Account Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Solution - General": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Customer/Client Success": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Key Words Extractor1": {
      "ai_languageModel": [
        [
          {
            "node": "Key Words Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Solution - General1": {
      "ai_languageModel": [
        [
          {
            "node": "Solution - General",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Customer/Client Success1": {
      "ai_languageModel": [
        [
          {
            "node": "Customer/Client Success",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Business Development1": {
      "ai_languageModel": [
        [
          {
            "node": "Business Development",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sales1": {
      "ai_languageModel": [
        [
          {
            "node": "Sales",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3779db5-315c-44d5-aa49-e9013d9f2a8e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c844779e57f062ed2d65cae41537d8794946978b58b8ba423f134ec33dbef0d"
  },
  "id": "UcmBIeSnJZ4tfH51",
  "tags": []
}