AI Agent/n8n IELTS Speaking.json
{
  "name": "Agent-IELTS-Speaking-StepbyStep",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        224,
        560
      ],
      "id": "b01977f0-d7a7-451b-abf3-bd794158e79d",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=  你是一名IELTS口语考官。根据用户请求{{$json.body.text}}，生成一道真实的IELTS口语题目。\n\n  输出要求：\n  1- 内容：除了题目，不要输出任何其他多余的内容。\n  2- 格式：请直接输出题目文本，不要添加任何前缀、后缀、引号或格式标记。",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        224,
        336
      ],
      "id": "39a203f4-47da-4d9e-9b00-8e31252d0dcd",
      "name": "Question Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        576,
        560
      ],
      "id": "0e54f4cc-3ee3-490c-8ca4-5e2628ad529f",
      "name": "DeepSeek Chat Model2",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "当要对Part 1的题目进行分析时，请使用此AI Agent",
        "text": "=你是高级雅思口语老师。从以下五个角度分析IELTS Speaking Part 1题目：{{$json.text}}\n\n分析角度：\n评分标准映射：这道题主要对应雅思口语的哪些评分维度？考察学生的哪些语言能力？\n题型结构识别：这属于哪种类型的问句？是否需要理由、举例或扩展？\n话题分类：这道题属于哪类常见话题（如：食物、兴趣、日常生活等）？\n答题策略建议：\n1- 学生应该如何组织答案？\n2- 推荐什么样的回答结构？\n3- 若采用该结构，对应的通用性词组有哪些？（6分版，7分版，8分版）\n4- 针对该话题，可使用的单词有哪些？（6分版，7分版，8分版）\n常见错误提醒：学生在回答此类问题时容易出现哪些典型错误？如何避免？\n不要开场白。回答要简明扼要，直击重点。\n\n输出要求：\n  1. 只能使用普通文本（plain text）\n  2. 禁止使用 Markdown、JSON、代码块符号\n  3. 禁止额外解释或说明，只输出所需内容\n  4. 用自然换行符分隔，不要添加多余标记\n  5. 按五个角度顺序输出，每个角度占一个段落",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        880,
        608
      ],
      "id": "4c666aa6-c51a-4e11-b107-0fa8653270cd",
      "name": "Part 1 Question Analyzer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1232,
        784
      ],
      "id": "22a2af13-0f22-4ec5-8534-8b89124296ca",
      "name": "DeepSeek Chat Model3",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1568,
        784
      ],
      "id": "e52e6612-6bdd-4b47-b978-9a3ada9f93cd",
      "name": "DeepSeek Chat Model4",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "当要对Part 2的题目进行分析时，请使用此AI Agent",
        "text": "=你是高级雅思口语老师。从以下五个角度分析IELTS Speaking Part 2题目：{{$json.text}}\n\n分析角度：\n评分标准映射：这道题主要对应雅思口语的哪些评分维度？考察学生的哪些语言能力？\n题型结构识别：Part 2 属于长时回答题，考生需要如何展开叙述？应包含哪些要素（如人物、地点、原因、感受、结果）？\n话题分类：这道题属于哪类常见话题（如：人物、事件、经历、物品、场所等）？\n答题策略建议：\n1- 学生应该如何在1分钟准备时间内构思？\n2- 推荐什么样的回答结构（开头—细节—感受—结尾）？\n3- 若采用该结构，对应的通用性词组有哪些？（6分版，7分版，8分版）\n4- 针对该话题，可使用的单词有哪些？（6分版，7分版，8分版）\n常见错误提醒：学生在回答此类问题时容易出现哪些典型错误？如何避免？\n不要开场白。回答要简明扼要，直击重点。\n\n  输出要求：\n  1. 只能使用普通文本（plain text）\n  2. 禁止使用 Markdown、JSON、代码块符号\n  3. 禁止额外解释或说明，只输出所需内容\n  4. 用自然换行符分隔，不要添加多余标记\n  5. 按五个角度顺序输出，每个角度占一个段落",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1232,
        608
      ],
      "id": "72cd3921-d49a-4c77-b3ac-0d783639bd2c",
      "name": "Part 2 Question Analyzer"
    },
    {
      "parameters": {
        "toolDescription": "当要对Part 3的题目进行分析时，请使用此AI Agent",
        "text": "=你是高级雅思口语老师。从以下五个角度分析IELTS Speaking Part 3题目：{{$json.text}}\n\n分析角度：\n评分标准映射：这道题主要对应雅思口语的哪些评分维度？考察学生的哪些逻辑与语言能力？\n题型结构识别：Part 3 属于抽象、拓展和讨论类问句，需要考生如何展开？是否需要比较、预测或表达观点？\n话题分类：这道题属于哪类常见话题（如：社会、教育、科技、文化、环境等）？\n答题策略建议：\n1- 学生应该如何组织论点和论据？\n2- 推荐什么样的回答结构（观点—解释—例子—总结）？\n3- 若采用该结构，对应的通用性词组有哪些？（6分版，7分版，8分版）\n4- 针对该话题，可使用的单词有哪些？（6分版，7分版，8分版）\n常见错误提醒：学生在回答此类问题时容易出现哪些典型错误？如何避免？\n不要开场白。回答要简明扼要，直击重点。\n\n  输出要求：\n  1. 只能使用普通文本（plain text）\n  2. 禁止使用 Markdown、JSON、代码块符号\n  3. 禁止额外解释或说明，只输出所需内容\n  4. 用自然换行符分隔，不要添加多余标记\n  5. 按五个角度顺序输出，每个角度占一个段落",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1568,
        608
      ],
      "id": "d1dc32a9-45df-4491-a4e8-93f9814c4bec",
      "name": "Part 3 Question Analyzer"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3bcd7132-a248-4700-af8c-e01d81a9d00a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        336
      ],
      "id": "13471e48-1e4c-4371-8c6b-c984ab40d6a2",
      "name": "Webhook",
      "webhookId": "3bcd7132-a248-4700-af8c-e01d81a9d00a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        336
      ],
      "id": "18556efc-e9bf-447a-baf9-f126295d8b23",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "  {\n    \"type\": \"object\",\n    \"properties\": {\n      \"question\": {\n        \"type\": \"string\",\n        \"description\": \"The original IELTS speaking question\"\n      },\n      \"analysis\": {\n        \"type\": \"string\",\n        \"description\": \"Detailed analysis of the question from five angles\"\n      }\n    },\n    \"required\": [\"question\", \"analysis\"]\n  }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        720,
        560
      ],
      "id": "0c19071b-4fcd-4188-9621-734b33b27808",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        880,
        784
      ],
      "id": "0ca64d91-0260-4c24-a636-a2c5c71995b1",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "682c8778-cd25-4c44-8c5b-421c599348ed",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        976
      ],
      "id": "358ddc15-b175-4962-a6e3-55072cc3d59a",
      "name": "Webhook1",
      "webhookId": "682c8778-cd25-4c44-8c5b-421c599348ed"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        912,
        976
      ],
      "id": "6fb862d0-c527-4612-b842-2a5fff282220",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=  你是任务调度员。分析IELTS口语题目并调用对应分析工具：{{$json.text}}\n\n  任务流程：\n  - 识别题目属于Part 1、Part 2或Part 3\n  - 调用对应工具（Part 1 Analyzer / Part 2 Analyzer / Part 3 Analyzer）\n  - 收集工具输出后返回JSON格式结果\n\n  输出要求：\n  1. 只能使用普通文本（plain text）\n  2. 禁止使用 Markdown、JSON、代码块符号\n  3. 禁止额外解释或说明，只输出所需内容\n  4. 用自然换行符分隔，不要添加多余标记\n  5. 必须返回包含question和analysis字段的JSON对象",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        576,
        336
      ],
      "id": "3d4d9385-abfc-4682-832a-e70242818455",
      "name": "Question Dispatcher"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=  你是任务调度员。分析IELTS口语回答并调用对应分析工具：{{$json.body.text}}\n\n  任务流程：\n  - 识别回答属于Part 1、Part 2或Part 3\n  - 调用对应工具（Part 1 Answer Analyzer / Part 2 Answer Analyzer / Part 3 Answer Analyzer）\n  - 收集工具输出后返回包含原始回答和分析结果的JSON格式\n\n  输出要求：\n  1. 只能使用普通文本（plain text）\n  2. 禁止使用 Markdown、JSON、代码块符号\n  3. 禁止额外解释或说明，只输出所需内容\n  4. 用自然换行符分隔，不要添加多余标记\n  5. 必须返回包含Answer（原始回答）和Analysis（分析结果）字段的JSON对象",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        576,
        976
      ],
      "id": "076d9e94-bb39-4393-9e4c-36203504c515",
      "name": "Answer Dispatcher"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        576,
        1168
      ],
      "id": "2bbb3f10-0822-4c58-bad8-0adf46801fca",
      "name": "DeepSeek Chat Model5",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Part 1 Answer Analyzer，只负责分析Part 1",
        "text": "=你是雅思口语教师。从以下五个维度分析学生的IELTS Speaking回答：{{$json.body.text}}\n从5个固定维度对这段IELTS Speaking Part 1回答进行结构化分析，指出表达中存在的问题或可以改进的地方，并进一步说明在6分、7分、8分的情况下，通常会如何改进该维度的表达，每个分数段请附带1–2句英文示例句。\n\n分析维度：\n1- 内容完整性：回答是否完整覆盖题意？是否包含理由、细节或例子？\n2- 句式多样性：是否使用了不同类型的句子（如从句、并列句）？是否都是简单句？\n3- 词汇多样性：是否出现重复用词？是否有具体、描述性或话题相关的词？\n4- 语法准确性：是否存在常见语法错误？如时态错误、主谓不一致等？\n5- 连贯与衔接性：句子之间是否自然衔接？是否缺少过渡词或逻辑跳跃？\n每个维度需包含三部分内容：\n  (a) 学生当前存在的问题；\n  (b) 针对6/7/8分的改进方向；\n  (c) 每个分数段各给出1–2句英文示例句。\n不要开场白。回答要简明扼要，直击重点。 \n\n输出要求,:\n  1. 只能使用普通文本（plain text）\n  2. 禁止使用 Markdown、JSON、代码块符号\n  3. 禁止额外解释或说明，只输出所需内容\n  4. 用自然换行符分隔，不要添加多余标记\n  5. 按五个维度顺序输出，每个维度占一个段落",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        896,
        1200
      ],
      "id": "747b01ae-11c1-4e9e-8dcd-7341de912bad",
      "name": "Part 1 Answer Analyzer"
    },
    {
      "parameters": {
        "toolDescription": "Part 2 Answer Analyzer，只负责分析Part 2",
        "text": "=  你是雅思口语教师。从以下五个维度分析学生的IELTS Speaking Part 2回答：{{$json.body.text}}\n\n  从5个固定维度对这段IELTS Speaking Part 2回答进行结构化分析，指出表达中存在的问题或可以改进的地方，并进一步说明在\n  6分、7分、8分的情况下，通常会如何改进该维度的表达，每个分数段请附带1–2句英文示例句。\n\n  分析维度：\n  1- 内容展开：是否覆盖题卡的所有提示点？是否有足够细节和例子？\n  2- 结构与组织：是否有清晰的开头、主体和结尾？逻辑是否连贯？\n  3- 句式多样性：是否使用了不同句型（如从句、复杂句）来延展叙述？\n  4- 词汇丰富度：是否使用了具体、生动、与话题相关的词汇？\n  5- 流利与衔接性：叙述是否自然顺畅？是否有过渡词引导思路？\n\n  每个维度需包含三部分内容：\n  (a) 学生当前存在的问题；\n  (b) 针对6/7/8分的改进方向；\n  (c) 每个分数段各给出1–2句英文示例句。\n\n  不要开场白。回答要简明扼要，直击重点。\n\n  输出要求：\n  1. 只能使用普通文本（plain text）\n  2. 禁止使用 Markdown、JSON、代码块符号\n  3. 禁止额外解释或说明，只输出所需内容\n  4. 用自然换行符分隔，不要添加多余标记\n  5. 按五个维度顺序输出，每个维度占一个段落",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1248,
        1200
      ],
      "id": "a30fda5f-e783-4bf7-9082-c112a6aef04f",
      "name": "Part 2 Answer Analyzer"
    },
    {
      "parameters": {
        "toolDescription": "Part 3 Answer Analyzer，只负责分析Part 3",
        "text": "=你是一位雅思口语教师。学生刚刚回答了一道 IELTS Speaking Part 3 的题目，口语转录成了文字。你的任务是：从5个固定维度对这段回答进行结构化分析。  \n\n每个维度必须包含三部分内容：  \n(a) 学生当前存在的问题；  \n(b) 针对6分、7分、8分的改进方向；  \n(c) 每个分数段各给出1–2句英文示例句（要贴合该维度，具象化）。  \n\n❗注意事项：  \n- 不要给出总分或最终评分；  \n- 不要直接修改或优化学生原句；  \n- 表达要简洁、清晰、对学生可操作。  \n\n分析的5个维度：  \n1- 论点清晰度：回答是否直接回应问题？论点是否明确？  \n2- 理由与例证：是否提供了合理的解释、原因或社会现象作为支撑？  \n3- 论证深度：是否体现了批判性思维？是否有多角度思考？  \n4- 语言复杂度：是否使用了较高级的句型和词汇？  \n5- 连贯与逻辑：观点之间是否有良好的逻辑过渡和衔接？  \n  \n不要开场白。回答要简明扼要，直击重点。\n输出要求：\n1. 只能使用普通文本（plain text）。\n2. 禁止使用 Markdown、JSON、代码块符号（如```）。\n3. 禁止额外解释或说明，只输出所需内容。\n4. 用自然换行符分隔，不要添加多余标记。\n回答内容：{{$json.body.text}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1584,
        1200
      ],
      "id": "e67a832d-d51e-4670-8656-9030d4685ae2",
      "name": "Part 3 Answer Analyzer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        896,
        1360
      ],
      "id": "8c50f00c-4e8a-4f0b-ab26-845f762a49a2",
      "name": "DeepSeek Chat Model7",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1248,
        1376
      ],
      "id": "458682a4-9987-4477-bd7d-53dc6b5209f4",
      "name": "DeepSeek Chat Model8",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1584,
        1376
      ],
      "id": "767e348f-5edb-4dbb-a7d8-879d5db58f70",
      "name": "DeepSeek Chat Model9",
      "credentials": {
        "deepSeekApi": {
          "id": "p6DB6HAUv2VP5Jy6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "  {\n    \"type\": \"object\",\n    \"properties\": {\n      \"Answer\": {\n        \"type\": \"string\",\n        \"description\": \"The original IELTS speaking answer from the student\"\n      },\n      \"Analysis\": {\n        \"type\": \"string\",\n        \"description\": \"Detailed analysis of the answer from five dimensions\"\n      }\n    },\n    \"required\": [\"Answer\", \"Analysis\"]\n  }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        720,
        1200
      ],
      "id": "10fafcf4-2a9f-4eb8-b3a3-48c221bf65c6",
      "name": "Structured Output Parser for answer"
    }
  ],
  "pinData": {},
  "connections": {
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Question Generator": {
      "main": [
        [
          {
            "node": "Question Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Question Dispatcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Part 1 Question Analyzer": {
      "ai_tool": [
        [
          {
            "node": "Question Dispatcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Part 2 Question Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Part 3 Question Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Part 2 Question Analyzer": {
      "ai_tool": [
        [
          {
            "node": "Question Dispatcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Part 3 Question Analyzer": {
      "ai_tool": [
        [
          {
            "node": "Question Dispatcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Question Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Question Dispatcher",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Part 1 Question Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Answer Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question Dispatcher": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Answer Dispatcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer Dispatcher": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Part 1 Answer Analyzer": {
      "ai_tool": [
        [
          {
            "node": "Answer Dispatcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Part 2 Answer Analyzer": {
      "ai_tool": [
        [
          {
            "node": "Answer Dispatcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Part 3 Answer Analyzer": {
      "ai_tool": [
        [
          {
            "node": "Answer Dispatcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Part 1 Answer Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Part 2 Answer Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Part 3 Answer Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser for answer": {
      "ai_outputParser": [
        [
          {
            "node": "Answer Dispatcher",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7469487-d1b4-4d63-9759-0cd55315820c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c844779e57f062ed2d65cae41537d8794946978b58b8ba423f134ec33dbef0d"
  },
  "id": "IommRbwgj1WfczOD",
  "tags": []
}